!Enter custom parameters in the form
!PARAMETER_NAME = VALUE
!
NX = 256
NY = 256
NSTEPS=5000
DSTEPS=1000
ISTEPS=100

GAMMAC = 0.1d0
DSPACE = 0.1d0
DTSIZE = 0.002d0

RHSType = 1
ROM = 0.6d0
BCX = 1
BCY = 1
harm_osc_C = 2000.0d0
harm_osc_mu = 25.26698674d0

enableTrap = .true.
trapType = 0
TXSCALE = 0.97d0
